@page "/clockev"

<PageTitle>Clock</PageTitle>

<h1>Clock Events</h1>

<p>This demonstrates a simple clock based on Events</p>

<div class="clock"><p> @CurrentTime.Hours.ToString("D2") : @CurrentTime.Minutes.ToString("D2") : @CurrentTime.Seconds.ToString("D2") </p></div>
