@page "/clockrx"
@inherits ClockRxComponent


<PageTitle>Clock Rx</PageTitle>

<h1>Clock Rx</h1>

<div class="clock"><p> @CurrentTime.Hours.ToString("D2") : @CurrentTime.Minutes.ToString("D2") : @CurrentTime.Seconds.ToString("D2") </p></div>
